<div id="main">
	<div id="head">
		<h1>{$lantitle}</h1>
	</div>
	<div id="content">
		<div id="result">
			{$sir_brummel}
		</div>
		<div id="menu">
			{$menu}
		</div>
		<div id="displayed_content">
			{$content}
			<div id="popup_container" style="display:none;"></div>
		</div>
	</div>
	<div id="settings_change_popup">
		<div class="settings_cp_container">
			<div id="settings_popup_close">
				<i class="fa fa-times" aria-hidden="true" id="close_popup" style="cursor:pointer;"></i>
			</div>
			<div id="settings_popup_headline">
				<h2>Gib bitte einen neuen Nickname an!</h2>
			</div>
			<div id="settings_popup_form">
				<input type="text" name="nick" id="newuser">
				<button id="change_username" class="button">Änderung bestätigen</button>
			</div>
		</div>
	</div>
</div>