<ul>
	<li>
		<a href="index.php?page=keygen">Key generieren</a>
	</li>
	<li>
		<a href="index.php?page=wow_server"> World of Warcraft</a>
	</li>
	<li>
		<a href="index.php?page=c_team">Team erstellen</a>
	</li>
	<li>
		<a href="index.php?page=teams">Teams</a>
	</li>
	<li>
		<a href="index.php?page=tm">Turniere</a>
	</li>
	<li>
		<a href="index.php?page=tschedule">Spielplan</a>
	</li>
	<li>
		<a href="index.php?page=conf&subpage=own" id="settings">Einstellungen</a>
	</li>
</ul>

<div style="margin-top:15%;text-align:center;">
	<div style="display:inline-block;margin-right:2%;">
		<label for="changeStatus" style="line-height:25px;">Dein Status: </label> 
	</div>
	{$status}
	<p style="margin-top:2%;">
		<select class="select" id="changeStatus">
			{$status_option}
		</select>
	</p>
</div>
