<div id="navigation">
	<ul>
		<li>
			<a href="index.php?page=keygen">Key generieren</a>
		</li>
		<li>
			<a href="index.php?page=wow_server"> World of Warcraft</a>
		</li>
		<!--<li>
			<a href="index.php?page=c_team">Team erstellen</a>
		</li>-->
		<!--<li>
			<a href="index.php?page=teams">Teams</a>
		</li>-->
		<li>
			<a href="index.php?page=tm">Turniere</a>
		</li>
		<li>
			<a href="index.php?page=tschedule">Spielplan</a>
		</li>
		<li>
			<a href="index.php?page=conf&subpage=own" id="settings">Einstellungen</a>
		</li>
	</ul>
</div>

<div id="status_container">
	<div id="status_circle_container">
		<label for="changeStatus" style="line-height:25px;">Dein Status: </label> 
	</div>
	{$status}
	<p style="margin-top:2%;">
		<select class="select" id="changeStatus" style="width:125px;">
			{$status_option}
		</select>
	</p>
</div>
