<div id="container" class="basic_margin_b">
	<div class="settings_profil_container settings_profil">
		{$profil_image}
		<table>
			<tr>
				<td class="settings_desc_column">Nickname:</td>
				<td><span id="user">{$nickname}</span> <i id="edit_settings" class='fa fa-pencil settings_edit' aria-hidden='true'></i></td>
			</tr>
			<tr>
				<td class="settings_desc_column">Meine IP:</td>
				<td>{$ip}</td>
			</tr>
			<tr>
				<td class="settings_desc_column">Teamname:</td>
				<td>{$team}</td>
			</tr>
			<tr>
				<td class="settings_desc_column">Team-Captain:</td>
				<td>{$captain}</td>
			</tr>
		</table>
	</div>
</div>