<div>
	<div class="settings_container">
		<div class="settings_headline_container">
			<h3 class="settings_headline">Basisdaten</h3>
		</div>
		<div class="settings_data_container">
			<div>
				<div>
					<span class="settings_desc">Nickname: </span> 
					<span id="user">{$nickname}</span> <i id="edit_settings" class='fa fa-pencil settings_edit' aria-hidden='true'></i>
				</div>
				<div>
					<span class="settings_desc">IP:</span> 
					<span>{$ip}</span>
				</div>
				<div>
					<span class="settings_desc">Präferenzen:</span> 
				</div>
				<div id="settings_pref_container">
					<div id="cloud_container"> <!--currently required for auto-reload - function.js -->
						<div class="cloud">
							{$pref}
						</div>
					</div>
					<div id="controllPref">
						<i class="fa fa-plus fa-1x add_pref" aria-hidden="true"></i>
						<div id="selBar">
							<div id="selBar_container">
								{$checkbox_container}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				{$profil_image}
			</div>
		</div>
	</div>
	<!--<div class="settings_container">
		<div class="settings_headline_container">
			<h3 class="settings_headline">Team</h3>
		</div>
		<div class="settings_data_container">
			<div>
				<div>
					<span class="settings_desc">Name: </span> <span id="t_name">{$team}</span>
				</div>
				<div>
					<span class="settings_desc">Teamchef:</span> <span id="t_captain">{$captain}</span>
				</div>
				<div>
					<span class="settings_desc">Mitglieder:</span> <span id="t_member">{$t_members}</span>
				</div>
			</div>
		</div>
	</div>-->
</div>