<div style="margin-left:0 !important;">
	<div class="settings_container">
		<div class="settings_headline_container">
			<h3 class="settings_headline">Basisdaten</h3>
		</div>
		<div class="settings_data_container">
			<div style="float:left;width:70%;">
				<div class="settings_data">
					<div>
						<span class="settings_desc">Nickname: </span> 
						<span id="user">{$nickname}</span> <i id="edit_settings" class='fa fa-pencil settings_edit' aria-hidden='true'></i>
					</div>
					<div>
						<span class="settings_desc">IP:</span> {$ip}
					</div>
					<div id="settings_pref_container">
						<div>
							<span class="settings_desc">Präferenzen:</span> 
						</div>
						<div id="cloud_container">
							<div class="cloud">
								{$pref}
							</div>
						</div>
						<div id="controllPref">
							<i class="fa fa-plus fa-1x add_pref" aria-hidden="true"></i>
							<div id="selBar">
								{$checkbox_container}
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div style="float:right;margin-right:10%;width:20%;">
				{$profil_image}
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--<div class="settings_container">
		<div class="settings_headline_container">
			<h3 class="settings_headline">Team</h3>
		</div>
		<div class="settings_data_container">
			<div>
				<div>
					<span class="settings_desc">Name: </span> <span id="t_name">{$team}</span>
				</div>
				<div>
					<span class="settings_desc">Teamchef:</span> <span id="t_captain">{$captain}</span>
				</div>
				<div>
					<span class="settings_desc">Mitglieder:</span> <span id="t_member">{$t_members}</span>
				</div>
			</div>
		</div>
	</div>-->
</div>