<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="template/style.css">
		<link rel="stylesheet" href="font_awesome/css/font-awesome.min.css">
		<title>{$headline}</title>
	</head>
	<body>
		<form method="post">
		<div id="wrap">
			<div id="content">
				<div id="result">
					{$sir_brummel}
				</div>
				<div id="container" class="reg_container">
					<div class="basic_float reg_label">
						<label for="username" class="basic_weight">Trage bitte deinen Nickname ein:</label>
					</div>
					<div class="basic_float">
						<input type="text" name="username" id="username">
						<button type="submit" id="reg_username" name="reg_username">OK</button>	
					</div>
					<div class="clear">&nbsp;</div>
				</div>
			</div>
		</div>
		</form>
	</body>
</html>
