<form method="post">
	<div id="reg_content">
		<div id="result">
			{$sir_brummel}
		</div>
		<div id="reg_container">
			<div class="reg_form">
				<div class="reg_label">
					<label for="username">Trage bitte deinen Nickname ein:</label>
				</div>
				<div>
					<input type="text" name="username" id="username" value="{$name}" required>
				</div>
			</div>
			<div class="reg_form">
				<div class="reg_label">
					<label for="real_name">Trage bitte deinen Klarnamen ein:</label>
				</div>
				<div>
					<input type="text" name="real_name" id="real_name" value="{$real_name}" required>
				</div>
			</div>
			<div>
				<button type="submit" id="reg_username" name="reg_username">OK</button>	
			</div>
		</div>
	</div>
</form>
