<div id="settings_view_container">
	<div id="settings_nav">
		<a href="index.php?page=conf&subpage=own" class="settings_link">
			<p class="settings_nav">Profil</p>
		</a>
		<!--<p class="settings_nav">
			<a href="index.php?page=conf&subpage=team_settings" class="settings_link">Teameinstellungen</a>
		</p>-->
		<a href="index.php?page=conf&subpage=achieve" class="settings_link">
			<p class="settings_nav">Achievements</p>
		</a>
	</div>
	<div id="settings_container">
		{$settings}
	</div>
</div>