BODY
{
	background-color: #202020;
	margin: 0;
	padding: 0;
	color: #000000;
	font-size: 12pt;
	font-family: Calibri;
	cursor: crosshair;
}

/******* CONTENT BEGINNING ******/

/* ---------------------- TEMPLATE --------------------------- 
--------------------------------------------------------------*/

* {
	box-sizing: border-box;
}

#wrap
{
	margin: 0 auto;
	height:auto;
}
#main
{
	display:grid;
	grid-template-rows: auto auto;
	row-gap: 2em;
}
#head
{
	margin: 0 auto;
	background-color: #063B9E;
	border: 1px solid #FFFFFF;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 5px 5px 0;
	width:95%;
}
#menu
{
	display:grid;
	grid-template-rows: auto auto;
	row-gap: 5%;
	align-content: center;
	min-height: 450px;
	max-height: 450px;
}
#content
{
	display: grid;
	grid-template-columns: 20% 80%;
	align-content:center;
	margin: 0 auto;
	background-color: #e5e5e5;
	border: 2px solid #FFFFFF;
	border-radius: 5px 5px;
	box-shadow: 0 5px 5px 0;
	opacity: 1;
	height: auto;
	width:95%;
}


/* ---------------------- BASIC --------------------------- 
--------------------------------------------------------------*/
h1
{
	color: #FFFFFF;
	text-align:center;
}
h2
{
	color: #000000;
	text-align:center;
}
h3
{
	text-align:center;
}
h4
{
	color:#C0C0C0;
}
.headline
{
	color: #484C54;
	font-weight:bold;
	text-decoration: underline;
}
.clear
{
	clear:both;
}
.basic_margin_t
{
	margin-top: 2%;
}
.basic_margin_r
{
	margin-right: 2%;
}
.basic_padding
{
	padding: 2%;
}
.basic_float
{
	float:left;
}
.basic_weight
{	
	font-weight:bold;
}
.basic_text_control
{
	text-align: center;
}
.click_cursor
{
	cursor: pointer;
}
.fa-checkmark
{
	text-shadow: 1px 1px rgba(0,0,0,.5);	
}

/* ---------------------- NAVIGATION --------------------------- 
--------------------------------------------------------------*/


	#navigation
	{
		width:100%;
	}
		#navigation ul
		{
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 11pt;
			width: 100%;
		}
			#navigation ul li a
			{
				display:block;
				margin: 0 auto;
				margin-bottom: 3%;
				background-color: #333;
				box-shadow: 0 2px 2px 0 #202020;
				text-align:center;
				color: #FFFFFF;
				border-left: 2px solid #193390;
				border-radius: 0 10px 10px 0;
				line-height: 40px;
				width: 80%;
			}
			#navigation ul li a:hover
			{
				background-color: #193390;
				color: #FFFFFF;
				width: 80%;
			}
			#navigation ul ul li a
			{
				margin-bottom: 3%;
				padding: 5px;
				transition: background-color 0.3s;
				background-color: #333;
				box-shadow: 0 2px 2px 0 #202020;
				text-align:center;
				border-left: 2px solid #193390;
				border-radius: 0 10px 10px 0;
				line-height: 25px;
				width: 80%;
			}
			#navigation ul ul li:hover a 
			{
				background-color: #193390;
				color: #FFFFFF;
				width: 80%;
			}

/* ---------------------- CONTENT ---------------------------
--------------------------------------------------------------*/

		#displayed_content
		{
			margin: 0 auto;
			min-height:20%;
			height: auto;
			width:95%;
		}
			#displayed_content form
			{
				margin-top: 2%;
				text-align:center;
			}
			#display_key
			{
				display:none;
				margin: 0 auto;
				background-color: #C0C0C0;
				border: 2px solid #FFFFFF;
				border-radius: 5px 5px;
				box-shadow: 0 5px 5px 0 #000000;
				text-align:center;
				font-weight:bold;
				width: 50%;
				height:auto;
			}
			#display_key p
			{
				line-height:25px;
			}
			#container
			{
				margin: 1%;
			}


/* ---------------------- VALIDATION ---------------------------
--------------------------------------------------------------*/

#validate_content
{
	margin: 0 auto;
	margin-top: 4%;
	background-color: #e5e5e5;
	border: 2px solid #FFFFFF;
	border-radius: 5px 5px;
	box-shadow: 0 5px 5px 0;
	opacity: 1;
	min-height: 35%;
	height: auto;
	width:50%;
}

.reg_container
{
	width:100%;
}
.reg_label
{
	margin-right:2%;
	padding-top:1%;
}


/* ---------------------- PROFIL_IMAGE ---------------------------
--------------------------------------------------------------*/

.profil_image_container
{
	margin:10px;
}
.profil_image
{
	margin-left: 5px;
}
.profil_image img
{
	cursor: pointer;
	background-color:e1e1e1;
	box-shadow: 0 0 5px 0 #333;
	border-radius:25%;
	width:100%;
}

/* ---------------------- SETTINGS ---------------------------
--------------------------------------------------------------*/

.settings_container
{
	margin:0 auto;
	width:90%;
	height:auto;
}
.settings_headline_container
{
	background-color:#e1e1e1;
	border:1px solid #A0A0A0;
	border-radius:8px 8px 0 0;
}
.settings_headline
{
	margin:0;
	margin-top:2px;
	padding-left:6px;
	text-align:left;
}
.settings_data_container
{
	background-color: #d6d6d6;
	border:1px solid #A0A0A0;
	border-top:0px;
	border-radius: 0 0 8px 8px;
	padding-left:15px;
	margin-bottom: 5%;
}
.settings_nav
{
	float:left;
	margin: 0;
	padding-left:5px;
	padding-right:5px;
	background-color:#FFFFFF;
	color: #000000;
	transition: color 0.3s, background-color 0.3s;
	box-shadow: 0 0 1px 0 #333;
	border-radius:10px 0 0 0;
	font-weight:bold;
	line-height: 35px;
	text-align:center;
	min-width:50px;
	width:auto;
}
.settings_nav:hover
{
	background-color:#333;
	color: #FFFFFF;
}
#settings_container
{
	margin: 0;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	box-shadow: 0 0 1px 0 #333;
	border-radius: 0 0 10px 10px;
	background-color: #C0C0C0;
	width:100%;
}
.settings_desc
{
	font-size:13pt;
	font-weight:bold;
}
.settings_edit
{
	cursor: pointer;
}
#settings_change_popup
{
	position: absolute;
	top: 20%;
	left:35%;
	display:none;
	width:35%;
	z-index: 10;
}
.settings_cp_container
{
	display:grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	padding:2%;
	background-color: #e5e5e5;
	border: 3px solid #C0C0C0;
	border-radius: 5px;
}
#settings_popup_close
{
	grid-column:1 / span 2;
	text-align:right;
}
#settings_popup_headline
{
	grid-column:1 / span 2;
	align-content:center;
}
#settings_popup_form
{
	grid-column:1/ span 2;
	text-align:center;
}


/* ---------------------- ACHIEVMENT ---------------------------
--------------------------------------------------------------*/

.cursor
{
	cursor: pointer;
}
#popup_container
{
	position: absolute;
	right:0;
	bottom:0;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
	border-radius: 5px 5px 0 0;
	background: inherit;
	border: 2px solid #fff;
	overflow: hidden;
	z-index: 1;
	width: 30rem;
	height:150px;
}
#popup_container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}
.popup_title {
	padding:0;
	margin:0;
	margin-top:5px;
	margin-bottom:5px;
	border-bottom:1px solid #000000;
	text-align:center;
	font-weight:bold;
}
.popup_img {
	margin: 8px;
}
.popup_text_container {
	display:grid;
	grid-template-columns: auto auto;
	margin:0;
	padding:0;
	padding-right:5px;
	align-content: center;
	width:100%;
}
#displayed_achievements
{
	display:grid;
	grid-template-columns: 45% 45%;
	grid-column-gap: 2%;
	width: 100%;
}
.achievement
{
	display:grid;
	grid-template-columns: 25% auto;
	margin-top: 1%;
	background-color: #DAD8D8;
	box-shadow: 0 5px 5px 0;
	border-radius: 0 20px 20px 0;
	width: auto;
	height: 100px;
}
.ac_headline
{
	background-color: #A0A0A0;
	border-radius: 0 20px 0 5px;
	width: 100%;
}
.ac_headline h3
{
	padding: 5px;
	margin: 0;
	font-family: Calibri;
	text-decoration: none;
}
.ac_image
{
	grid-row: 1 / 2;
	text-align: center;
	width: auto;
}
.ac_image img
{
	margin-top: 5%;
	border-radius: 15%;
	box-shadow: 2px 2px 0 0 #C0C0C0;
	max-width: 120px;
	height: auto;
	max-height: 85px;
}
.ac_text
{
	float:left;
	margin-left:-4px;
	width: auto;
	vertical-align: top;
}
.ac_text p
{
	margin: 0;
	padding: 0;
	text-align: justify;
	font-family: Calibri;
	white-space: initial;
	width: 75%;
}
#available_aclist
{
	margin-top:10%;
	border-top:1px solid #000000;
}
.av_ac
{
	top:0;
	left:0;
}
.ac_small
{
	float:left;
	margin-top:0.5%;
	text-align:center;
	width:5%;
	height:auto;
}
.ac_name
{
	display: none;
	position: absolute;
	background-color: #fff;
	border-radius:10%;
	font-family: Verdana;
	font-size:8pt;
	padding: 2px;
}

/* ---------------------- Popups ---------------------------
--------------------------------------------------------------*/

#popup_response
{
	display:none;
	margin-bottom: 1%;
	color: #000000;
	width:100%;
}
.popup
{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 10px;
	background-color: #202020;
	border: 2px solid #C0C0C0;
	border-radius: 12px;
	box-shadow: 0 5px 5px 0;
	color: #fff;
	width:10%;
}

#result_close_popup
{
	text-align:right;
}

#result_popup_input_area
{
	display:grid;
	grid-template-columns: auto auto auto;
	align-content: center;
	text-align:center;
}

.result_popup_player
{
	display:grid;
	grid-template-rows: auto auto;
	align-content:center;
}


/* ---------------------- TEAMS ---------------------------
--------------------------------------------------------------*/

.topic_headline
{
	margin-bottom: 3%;
	background-color: #484C54;
	box-shadow: 0 2px 2px 0 #202020;
	border-radius: 5px 5px;
	text-align:center;
	font-weight:bold;
	font-size:13pt;
	color: #FFFFFF;
	line-height: 30px;
}
.team_name
{
	margin: 0;
	font-size: 14pt;
	font-weight: bold;
	text-align:center;
	color: #000000;
	line-height: 35px;
	width: 98%;
}
.team
{
	float:left;
	margin:10px;
	margin-top: 20px;
	background-color:#C0C0C0;
	text-align:center;
	border-left:10px solid #009C03;
	box-shadow: 0 2px 2px 0 #202020;
	border-radius: 0 10px 10px 0;
	min-height: 100px;
	width:30%;
}
.team_member
{
	margin:0;
	font-size:11pt;
}
.tournament
{
	margin: 0 auto;
	background-color: #D3D2D2;
	border-radius: 2px 2px;
	border-collapse: collapse;
	box-shadow: 0 2px 2px 0 #202020;
	font-size: 11pt;
	width: 100%;
}
.tournament tr th
{
	padding: 5px;
	border-bottom:2px solid #000000;
	border-radius: 2px 2px;
}
.tournament tr td
{
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #000000;
	border-radius: 2px 2px;
	text-align:center;
	width: 50%;
}

.c_form
{
	margin: 0 auto;
	border: none;
	line-height: 10%;
	width: 40%;
}
	.label_form
	{
		background-color: #BCBCBC;
		width: 40%;
	}
	.label_form td
	{
		background-color: #BCBCBC;
		font-size: 12pt;
		vertical-align: baseline;
		width: 20%;
	}
	.label_form td label
	{
		padding-left:5px;
		font-weight:bold;
	}

/* ---------------------- FORMS ---------------------------
--------------------------------------------------------------*/

	input[type=text]#ticket_id
 	{
 		background-color: #C0C0C0;
	 }
	input[type=text],[type=password]
	{
		padding-left: 10px;
		background-color: #fff;
		font-size: 11pt;
		color: #000;
		border-radius: 2px 2px;
		border: 1px solid #D0D0D0;
		line-height: 25px;
		width: 250px;
	}
	input[type=text]:focus,[type=password]:focus
	{
		box-shadow: 0 0 2px 2px #C0C0C0;
		font-size: 11pt;
		width:250px;
	}
	.button
	{
		cursor: pointer;
		margin: 0.5%;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #063B9E;
		border-radius: 8px 8px;
		box-shadow: 0 2px 5px 0 #646464;
		border: 1px solid #000000;
		color: #FFFFFF;
		font-size: 12pt;
		font-weight: bold;
		font-family: Calibri;
	}
	.button:hover
	{
		color: #C0C0C0;
	}
	select
	{
		background-color:white;
		background-image:url("../images/parts/expand-button.png");
		background-position: 98% 50%;
		background-repeat: no-repeat;
		-webkit-appearance: none;
	  	-moz-appearance: none;
	  	appearance: none;
	  	padding: 2px;
	  	font-size: 10pt;
	  	border: 1px solid #bbb;
		border-radius: 3px;
	  	width:250px;
	}
	select:focus
	{
		box-shadow: 0 0 2px 2px #fff;
	}

/* ---------------------- RESPONSES ---------------------------
--------------------------------------------------------------*/ 

#response
{
	margin-top: 2%;
}
#result
{
	position:absolute;
	bottom:5%;
	width:50%;
	z-index: 10;
}
.sir_brummel
{
	margin-left: 10%;
}
.message
{
	position: relative;
	left:80px;
	background-color: #FFFFFF;
    font-size: 12pt;
    color: #000000;
    text-align:center;
    border-radius: 5px 5px;
    border:4px solid #000000;
    width:30%;
    height:auto;
}
.message:before
{
	content: ' ';  
	position: absolute;  
	width: 0;  
	height: 0;  
	left: 10px;  
	top: 100%;  
	border: 15px solid;  
	border-color: #000000 transparent transparent #000000;
	vertical-align: bottom;
}
.message:after
{
	content: ' ';  
	position: absolute;  
	width: 0;  
	height: 0;  
	left: 14px;  
	top: auto;  
	border: 10px solid;  
	border-color: #FFFFFF transparent transparent #FFFFFF;
}
.name_container
{
	text-align:center;
	width:120px;
	height:10px;
}
.name
{
	color:#fff;
	font-size:8pt;
}
.message_text
{
	margin-top: 7px; 
	font-family: Papyrus;
	font-size:16px;
	font-weight:bold;
}

/* ---------------------- STATUS ---------------------------
--------------------------------------------------------------*/
#status_container
{
	margin: 0;
	padding: 0;
	text-align:center;
}
#status_circle_container
{
	display:inline-block;
	margin-right:2%;
}
#status_circle
{
	display:inline-block;
	background-color: #54A441;
	border-radius:50%;
	box-shadow: 0 2px 2px 0 #202020;
	width:15px;
	height:15px;
}

/* ---------------------- PREFERENCE ---------------------------
--------------------------------------------------------------*/

.cloud
{
	float:left;
	margin-bottom:2%;
	background-color:#d6d6d6;
	text-align:justify;
	width:95%;
}
.pref_container 
{
	float:left;
	display: grid;
	grid-template-columns: auto auto;
	padding:3px;
	margin:2px;
	background-color:#e1e1e1;
	border:1px solid #A0A0A0;
	border-radius:50px;
	box-shadow: 0 2px 2px 0;
	min-width:100px;
	max-width:40%;
	height: 25px;
}
.pref_icon
{
	vertical-align: middle;
}
.pref_game
{
	font-size:9pt;
	font-weight:bold;
}
.pref_container p
{
	margin:0;
	padding:0;
}
#controllPref
{
	float:left;
}	
	.add_pref
	{
		float:left;
		cursor: pointer;
	}
	#selBar
	{
		display:none;
		float:left;
		position:absolute;
		background-color:#e1e1e1;
		box-shadow: 0 2px 2px 0;
		border-radius: 5px;
		margin-left:20px;
		font-family:Calibri;
		width: auto;
		min-width:150px;
		z-index:10;
	}
	.checkmark_container
	{
		display:block;
		position:relative;
		float:left;
		padding-left:35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		user-select: none;
		-moz-user-select: none;
	}
	.checkmark_container input
	{
		position:absolute;
		display:none;
	}
	.checkmark
	{
		position:absolute;
		top:0;
		left:0;
		height: 20px;
		width: 20px;
		background-color:#eee;
		box-shadow: 0 1px 1px 0;
		border-radius:20%;
	}
	.checkmark_container:hover input ~ .checkmark
	{
		background-color:#ccc;
	}
	.checkmark_container input:checked ~ .checkmark
	{
		background-color:#2196F3;
	}
	.checkmark:after
	{
		content: "";
		position: absolute;
		display:none;
	}
	.checkmark_container input:checked ~ .checkmark:after
	{
		display:block;
	}
	.checkmark_container .checkmark:after
	{
		left:6px;
		top:3px;
		width:5px;
		height:10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
	}
	.checkbox_container
	{
		margin:2%;
	}
		.checkmark_name
		{
			float:left;
		}
		.checkmark_name img
		{
			float:left;
		}
		.checkmark_name span
		{
			float:right;
		}

/* ---------------------- WOW-Server ---------------------------
--------------------------------------------------------------*/

.table_container
{
	overflow-x:auto;
}
#wow_characters
{
	font-family: Calibri;
	background-color:lightgrey;
	border-collapse: collapse;
	box-shadow: 0 2px 2px 0 #000;
	width:100%;
}
#wow_characters tr:nth-child(even)
{
	background-color:ddd;
}
#wow_characters td, #wow_characters th
{
	border:1px solid #ddd;
	padding:8px;
}
#wow_characters th
{
	background-color:#333;
	padding-top:10px;
	padding-bottom: 10px;
	text-align:left;
	color:#fff;
}
#wow_single_clm
{
	text-align:center;
	font-weight:bold;
}


/* ---------------------- Time-Schedule ---------------------------
--------------------------------------------------------------*/
#schedule_container
{
	text-align:center;
	overflow:auto;
}
#time_schedule
{
	margin:0 auto;
	font-family: Calibri;
	border-collapse: collapse;
	box-shadow: 0 2px 2px 0 #000;
	width:70%;
}
#time_schedule tr:nth-child(even)
{
	background-color:ddd;
}
#time_schedule th
{
	background-color:#333;
	padding-top:10px;
	padding-bottom: 10px;
	color:#fff;
}
.schedule_row
{
	border:1px solid #000;
}
.schedule_time_clm
{
	padding-left:3%;
}

/* ---------------------- Turniere ---------------------------
--------------------------------------------------------------*/
#tournament_generel_container
{
	display:grid;
	grid-template-rows: auto auto;
	row-gap: 2%;
}
#tm_container
{
	display:grid;
	grid-template-rows: auto auto;
	grid-row-gap: 15px;
	align-content: center;
	margin: 0 auto;
	max-width: 550px;
}
#tm_container a
{
	background-color:#C0C0C0;
	border-radius:5px;
	box-shadow: 0 2px 2px 0;
}
#tm_unlocked
{
	display:grid;
	grid-template-columns: auto auto;
	grid-column-gap: 25px;
	grid-row-gap: 15px;
	align-content: center;
	text-align:center;
	margin:5px;
	width:100%;
}
#tm_unlocked_banner_container
{
	grid-column: 1 / span 2;
	align-content: center;
}
#tm_unlocked_banner_container img
{
	border-radius:10px;
	box-shadow:0 2px 2px 0;
}
#tm_unlocked_button_container
{
	grid-column: 1/span 2;
	margin-top:25px;
}
#tm_unlocked_button_container button
{
	margin: 10px;
	cursor:pointer;
	box-shadow: 0 2px 2px 0;
	font-weight: bold;
	height: 35px;
}
#tm_locked
{
	display:grid;
	grid-gap:15px;
}
#tm_locked_banner_container
{
	text-align:center;
}
#tm_locked_banner_container img
{
	margin-top:5px;
	box-shadow: 0 2px 2px 0;
	border-radius:8px;
}
.tm_locked_player_pair
{
	cursor:pointer;
	padding:8px;
	background-color:#fff;
	border-radius:25px;
	text-align:center;
	box-shadow:0 2px 2px 0;
	width:15%;
}
.tm_single
{
	cursor:pointer;
}
.tm_container_img
{
	padding-top: 8px;
	text-align:center;
}
.tm_container_img img
{
	box-shadow: 0 2px 2px 0;
	width: 100%;
	max-width: 500px;
	height: auto;
}
.tm_container_details
{
	display:grid;
	grid-template-columns: 50% 50%;
	align-content: center;
	text-align:center;
}
#tm_vote_container
{
	display:grid;
	grid-template-columns:auto auto auto;
	grid-column-gap:30px;
	grid-row-gap:30px;
	align-content: center;
}
.tm_mode
{
	background-color:grey;
	margin:0;
	line-height:25px;
	text-align:center;
	font-weight:bold;
	color:#fff;
}
.tm_game_banner
{
	background-size:cover;
	background-repeat:no-repeat;
	border: 2px solid #000;
	border-radius: 0 0 5% 5%;
	box-shadow:0 5px 5px 0;
	padding:0;
	margin:0;
}
.tm_div_box
{
	line-height:120px;
	border-radius: 0 0 5% 5%;
	text-align:center;
	font-weight:bold;
}
.tm_span_box
{
	text-align:center;
	width:250px;
	max-width:250px;
}
.tm_vote_container
{
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	width: auto;
	max-width:350px;
}
.tm_running_vote_container
{
	display: grid;
	grid-template-columns: auto auto;
	background-color: #C0C0C0;
	border: 2px solid #000000;
	border-radius: 15px;
	box-shadow: 0 2px 2px 0; 
	font-family: Calibri;
	width: 350px;
}
#tm_start_vote
{
	margin-top:15%;
	text-align:center;
}
.tm_vote_for
{
	margin:0;
	padding:0;
	cursor:pointer;
	background-color: #C0C0C0;
	border: 3px solid #fff inset;
	border-left:0;
	border-radius: 0px 20px 20px 0;
	box-shadow: 0 2px 2px 0;
	height: 60px;
}
.tm_vote_sign
{
	display:none;
	line-height:60px;
	text-align:center;
	height:60px;
}
.tm_rv_banner
{
	grid-column: 1 / span 2;
	width: 100%;
}
.tm_rv_banner img
{
	border-radius: 15px 15px 0px 0px;
    width:100%;
}
.tm_rv_text
{
	margin-left:2%;
	width: 100%;
}
.tm_result_popup
{
	display:none;
}

/* ---------------------- Turnierbaum ---------------------------
--------------------------------------------------------------*/

main
{
    display:flex;
    flex-direction:row;
}
.round
{
	display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
}
    .round .spacer{ flex-grow:.5; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }
  
  /*
   *  General Styles
  */
  
  li.game{
    padding-left:20px;
  }
  li.game-spacer{
	cursor:pointer;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }
  .round .li-spacer {
	  flex-grow: .5;
  }
 
    
	li.game-top
	{ 
		border-bottom:3px solid #aaa; 
	}
  
    li.game-spacer{
		cursor:pointer; 
      border-right:3px solid #aaa;
      min-height:40px;
    }
  
    li.game-bottom{ 
	margin-bottom: 10px;  
	border-top:3px solid #aaa;
    }


A:link
{
	color: #000000;
	text-decoration: none;
}
A:visited
{
	color: #000000;
	text-decoration: none;
}
A:hover
{
	color: #000000;
	text-decoration: none;
}
A.settings_link:hover
{
	color: #fff;
	text-decoration: none;
}
A.download:link
{
	color: #000000;
	text-decoration: underline;
}
A.download:visited
{
	color: #000000;
	text-decoration: underline;
}
A.download:hover
{
	color: #000000;
	text-decoration: underline;
}