<div id="schedule_container">
	<table cellspacing="0" cellpadding="8" id="time_schedule">
		<tr>
			<th>Zeit/Ort</th>
			<th>Freitag</th>
			<th>Samstag</th>
			<th>Sonntag</th>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">00:00 Uhr</td>
			<td>&nbsp;</td>
			<td rowspan="3" style="background-color:lightblue;font-weight:bold;box-shadow:0 2px 2px 0 #000;text-align:center;">Turnier (für Hartgesottene)</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">01:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">02:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">03:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">04:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">05:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">06:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">07:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">08:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">09:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">10:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">11:00 Uhr</td>
			<td>&nbsp;</td>
			<td rowspan="7" style="background-color:orange;font-weight:bold;box-shadow:0 2px 2px 0 #000;text-align:center;">World of Warcraft Raid</td>
			<td rowspan="3" style="background-color:brown;font-weight:bold;box-shadow:0 2px 2px 0 #000;text-align:center;">Abbau<br>(11 Uhr - 14 Uhr)</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">12:00 Uhr</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">13:00 Uhr</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">14:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">15:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">16:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">17:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">18:00 Uhr</td>
			<td rowspan="4" style="background-color:brown;font-weight:bold;box-shadow:0 2px 2px 0 #000;text-align:center;">Aufbau<br>(18 Uhr - 22 Uhr)</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">19:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">20:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">21:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">22:00 Uhr</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="schedule_row">
			<td class="schedule_time_clm">23:00 Uhr</td>
			<td style="background-color:lightblue;font-weight:bold;box-shadow:0 2px 2px 0 #000;text-align:center;">Turnier (für Hartgesottene)</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</div>