<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="template/style.css">
		<link rel="stylesheet" href="font_awesome/css/font-awesome.min.css">
		<title>{$headline}</title>
	</head>
	<body>
		<form method="post">
			<div id="basic_wrap">
				<div id="validate_content" >
					<div id="result">
							{$sir_brummel}
					</div>
					<div id="container" class="reg_container">
						<div style="text-align:center;">
							<h2>Bitte gib deine Ticket-ID ein!</h2>
							<label for="ticket_id">Deine Ticket-ID:</label>
								<input type="text" name="ticket_id" id="ticket_id">
								<button id="validate_id" type="submit">Ticket-ID überprüfen</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>