admin\test\testfile.php
include\connect.php
bugs
connect.php
design_templates
font_awesome
key_list
sql
user
lan.sql
test.php
frontend_test.txt
transfer_achievement.php
install.php
install.html
profil
achievements
game_icon
banner
download
.vscode
/nbproject/private/