<tr>
	<td class="ac_id">{$id}</td>
	<td>{$name}</td>
	<td>
		<label for="ac_image_{$id}" class="ac_img_label">
			<img src="/Lan_Git/images/achievements/{$image}" class="ac_image_disp" style="cursor:pointer;max-width:120px;">
		</label>
		<input type="file" class="ac_image" id="ac_image_{$id}" data-ac-id="{$id}" style="display:none;">
	</td>
	<td>{$message}</td>
	<td>
		<select class="admin_ac_trig" name="ac_trigger" data-ac-id="{$id}">
			{$trigger}
		</select>
	</td>
	<td>
		<select class="admin_ac_cat" name="ac_category" data-ac-id="{$id}">
			{$category}
		</select>
	</td>
	<td>
		<select class="admin_ac_visib" name="ac_visibility" data-ac-id="{$id}">
			{$visibility}
		</select>
	</td>
</tr>