<tr class="admin_game_data">
	<td class="game_id">--ID--</td>
	<td>
		<span id="--NAME--">--NAME-- </span>
		<i id="edit_settings" class='fa fa-pencil settings_edit' aria-hidden='true'></i><br>
		<span class="settings_gn">
			<input type="text" name="game_name" class="game_name">
			<button class="send_gn">Absenden</button>
		</span>
	</td>
	<td>
		<span id="--RAW_NAME--">--RAW_NAME--</span>
		<i id="edit_settings" class='fa fa-pencil settings_edit' aria-hidden='true'></i><br>
		<span class="settings_grn">
			<input type="text" name="game_raw_name" class="game_raw_name">
			<button class="send_grn">Absenden</button>
		</span>
	</td>
	<td>
		<select class="sec_is_addon">
			--ADDON--
		</select>
	</td>
	<td class="game_icon">
		<label for="sec_icon_upload_--ID--" id="lbl_sec_icon_upload_--ID--">--ICON--</label>
		<input type="file" name="sec_icon_upload" id="sec_icon_upload_--ID--" class="sec_icon_upload">
	</td>
	<td>
		<select class="sec_has_table">
			--HAS_TABLE--
		</select>
	</td>
</tr>