<div id="{$map_id}" class="map_data" style="display:grid;grid-template-columns:auto auto auto auto auto;margin-bottom:1%;width:20%;">
    <div style="font-weight:bold;" class="map_info">
        {$map_name_ingame}
    </div>
    <div class="map_info">
        {$map_size}
    </div>
    <div>
        <img src="images/map_image/{$map_image}" height="128" style="box-shadow:0 2px 2px 0;">
    </div>
    <div class="map_info">
        <label class="switch">
            <input type="checkbox" name="map_is_selectable" class="map_is_selectable">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="map_info">
        <i class='fa fa-trash delete_map icon_edit' aria-hidden='true'></i>
    </div>
</div>