<tr>
    <td>{$game_name}</td>
    <td>{$starttime}</td>
    <td>{$endtime}</td>
    <td class="running_votes" style="text-align:center;">
        <span class="origin_votes">{$votes}</span>
    </td>
    <td style="text-align:center;">{$closed}</td>
    <td>
        <button class="define_tm" data-tm-vote="{$vote_id}" data-tm-game="{$game_id}" data-tm-game-name="{$game_name}" data-reload-parent="id_vote_page" data-reload-child="id_tm_votes">Turnier starten</button>
    </td>
    <td>
        <button class="delete_vote" data-tm-vote="{$vote_id}" data-tm-game="{$game_id}" data-reload-parent="id_vote_page" data-reload-child="id_tm_votes">Abstimmung löschen</button>
    </td>
</tr>