<tr>
    <td>--GAME_NAME--</td>
    <td>--STARTTIME--</td>
    <td>--ENDTIME--</td>
    <td class="running_votes" style="text-align:center;">
        <span class="origin_votes">--VOTES--</span>
    </td>
    <td style="text-align:center;">--CLOSED--</td>
    <td>
        <button class="define_tm" data-tm-vote="--VOTE_ID--" data-tm-game="--GAME_ID--">Turnier starten</button>
    </td>
    <td>
        <button class="delete_vote" data-tm-vote="--VOTE_ID--" data-tm-game="--GAME_ID--">Abstimmung löschen</button>
    </td>
</tr>