
        
<li class="game game-top" data-tm-id="--TM_ID--" data-pair-id="--PAIR_ID--">--PLAYER_1--</li>
<li class="game game-spacer" data-tm-id="--TM_ID--" data-pair-id="--PAIR_ID--">&nbsp;</li>
<li class="game game-bottom" data-tm-id="--TM_ID--" data-pair-id="--PAIR_ID--">--PLAYER_2--</li>
<!--<div>
    <div class="tm_locked_player_pair" data-tm-id="--TM_ID--" data-pair-id="--PAIR_ID--">
        <div>
            --PLAYER_1--
        </div>
        <div>
            --
        </div>
        <div>
            --PLAYER_2--
        </div>
    </div>
</div>-->