<div class="tm_vote_container">
    <div class="tm_running_vote_container">
        <div class="tm_rv_banner">
            <img src="images/banner/--BANNER--">
        </div>
        <div class="tm_rv_text">
            <div>Anzahl Spieler:</div>
            
            <div>Abstimmungsende:</div>
        </div>
        <div class="tm_rv-data">
            <div id="vote_id_--VOTE-ID--">
                <div class="tm_rv_playercount" id="playercount_--VOTE-ID--">--PLAYER_COUNT--</div>
            </div>
            <div>--TIME_REMAINING--</div>
        </div>
    </div>
    <div class="tm_vote_for" data-voted-tm="--VOTE-ID--">
        <div class="tm_vote_sign">
            <i class="fa fa-check fa-2x fa-checkmark" aria-hidden="true" style="line-height:inherit;color:green;"></i>
        </div>
    </div>
</div>