<ul id="navigation">
	<a href="admin_index.php?aa=home">
		<li>Home</li>
	</a>
	<a href="admin_index.php?aa=player">
		<li>Spieler</li>
	</a>
	<a href="admin_index.php?aa=games">
		<li>Spiele</li>
	</a>
	<a href="admin_index.php?aa=keys">
		<li>Keys</li>
	</a>
	<a href="admin_index.php?aa=team">
		<li>Teamverwaltung</li>
	</a>
	<a href="admin_index.php?aa=turnier">
		<li>Turniere</li>
	</a>
	<a href="admin_index.php?aa=achieve">
		<li>Achievementverwaltung</li>
	</a>
		<ul id="admin_ac_sub">
			<a href="admin_index.php?subaa=action">
				<li>Actions</li>
			</a>
		</ul>
	<a href="admin_index.php?aa=ticket">
		<li>Ticketstatus</li>
	</a>
</ul>