<h2>Spielerverwaltung</h2>
<table class="ov_table p_view" cellspacing="0" cellpadding="0">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>IP</th>
		<th>WoW-Account</th>
		<th>Team ID</th>
		<th>Team</th>
		<th>Team Captain</th>
		<th>Actions</th>
	</tr>
	{$player}
</table>
<div style="margin-top:2%;text-align:center;height:5%;">
	<form>
		<label for="cover_name">Übergangsname:</label>
		<input type="text" name="cover_name" id="cover_name">
		<input type="submit" name="create" id="create" value="Create">
	</form>
</div>