<table class="ov_table p_view">
	<tr>
		<th>Name</th>
		<th>IP</th>
		<th>Team ID</th>
		<th>Team Captain</th>
		<th>Actions</th>
	</tr>
	{$player}
</table>
<div style="margin-top:2%;text-align:center;height:5%;">
	<form>
		<label for="count">Anzahl der neuen Spieler:</label>
		<input type="text" name="coumt" id="count">
		<label for="cover_name">Übergangsname</label>
		<input type="text" name="cover_name" id="cover_name">
		<input type="submit" name="create" id="create" value="Create">
	</form>
</div>