<div style="margin: 0 auto;">
	<div style="padding-left:5%;padding-top:1%;">
		<h3>Teams erstellen</h3>
	</div>
	<p style="border-bottom:2px solid #000000;width:100%;">&nbsp;</p>
	<div style="text-align: center;">
		<label for="team_count">Anzahl der Teams: </label>
		<input type="text" id="team_count">
		<button>Teams erstellen</button>
	</div>
</div>
<div>
	<div style="padding-left:5%;padding-top:1%;">
		<h3>Teams löschen</h3>
	</div>
	<p style="border-bottom:2px solid #000000;width:100%;">&nbsp;</p>
	<div style="text-align:center">
		<select class='select' id='del_team'>
		{$exist_teams}
		</select>
		<button id='b_del_team'>Team löschen</button>
	</div>	
	<div class="clear"></div>
</div>