<div>
    <h2>Turnier anlegen</h2>
    <div style="text-align:center">
        <form method="post" enctype="multipart/form-data" accept-charset="utf-8">
            <select name="tm_game" id="tm_game">
                {$games}
            </select>
            <select name="tm_mode" id="tm_mode">
                <option name="1">1 gegen 1
                <option name="2">2 gegen 2
                <option name="3">Teams
            </select>
            <input type="file" name="tm_banner" id="tm_banner">
            <input type="submit" name="create_tm" id="create_tm" value="Turnier erstellen">
        </form>
    </div>
</div>