<div id="wow_account_name">
    <span>Accountname:</span>
    <span>
        {$player_wow_account}
    </span>
    <span>
        <button id="reset_password">Passwort zurücksetzen</button>
    </span>
</div>
<div class="table_container">
    <table cellspacing="0" cellpadding="8" id="wow_characters">
        <tr>
            <th>Charaktername</th>
            <th>Rasse</th>
            <th>Klasse</th>
            <th>Level</th>
            <th>aktuelle Region</th>
        </tr>
        {$characters}
    </table>
</div>
<div class="reset_password_popup">
    <div id="close_password_popup">
        <i class="fa fa-times close_sign" aria-hidden="true"></i>
    </div>
    <h2 id="password_headline">Passwort zurücksetzen</h2>
    <div class="error_container">
        <p>Die eingegebenen Passwörter stimmen nicht überein.</p>
    </div>
    <div class="placeholder_container">
        <p>&nbsp;</p>
    </div>
    <div id="password_form">
        <div>
            <label for="new_password">Neues Passwort:</label>
        </div>
        <div>
            <input type="password" name="new_password" id="new_password">
        </div>
        <div>
            <label for="new_password_checkup">Neues Passwort bestätigen:</label>
        </div>
        <div>
            <input type="password" name="new_password_checkup" id="new_password_checkup">
        </div>
        <div>&nbsp;</div>
        <div>
            <button id="save_new_password" name="save_new_password" data-account-name="{$player_wow_account}">Passwort zurücksetzen</button>
        </div>
    </div>
</div>