<div id="wow_account_name">
    <span>Deine Accountname:</span>
    <span>
        {$player_wow_account}
    </span>
</div>
<div class="table_container">
    <table cellspacing="0" cellpadding="8" id="wow_characters">
        <tr>
            <th>Charaktername</th>
            <th>Rasse</th>
            <th>Klasse</th>
            <th>Level</th>
            <th>aktuelle Region</th>
        </tr>
        <tr>
            <td colspan="7" id="wow_single_clm">
                Du hast noch keine Charaktere erstellt.
            </td>
        </tr>
    </table>
</div>